[database]
connection = mysql+pymysql://{{ glance_db_name }}:{{ glance_db_password }}@{{ controller_host }}/{{ glance_db_name }}

[keystone_authtoken]
www_authenticate_uri = {{ keystone_public_url }}
auth_url = {{ keystone_internal_url }}
memcached_servers = {{ controller_host }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = {{ openstack_service_project }}
username = glance
password = {{ glance_service_password }}

[DEFAULT]
log_dir = /var/log/glance