[DEFAULT]
enabled_apis = osapi_compute,metadata

[api_database]
connection = mysql+pymysql://nova:{{ nova_db_password }}@controller/nova_api

[database]
connection = mysql+pymysql://nova:{{ nova_db_password }}@controller/nova

[keystone_authtoken]
auth_url = http://controller:5000/v3
memcached_servers = controller:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = nova
password = {{ nova_user_password }}

[oslo_concurrency]
lock_path = /var/lib/nova/tmp
