[DEFAULT]
debug = false
log_dir = /var/log/nova
state_path = /var/lib/nova

[libvirt]
virt_type = {{ virt_type }}

[oslo_messaging_rabbit]
rabbit_userid = {{ rabbitmq_user }}
rabbit_password = {{ rabbitmq_pass }}
rabbit_host = localhost

[keystone_authtoken]
auth_url = http://localhost:5000/v3
username = nova
password = {{ keystone_admin_pass }}
project_name = service
user_domain_name = Default
project_domain_name = Default

[glance]
api_servers = http://localhost:9292 